.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "javascript:window.history.go(-1);"}
        %i.material-icons
          = yield(:navicon).presence || "keyboard_arrow_left"
      %a.navbar-brand{:href => root_path } Favorites!
      - if params[:action] == "index"
        %form.navbar-form.navbar-brand.navbar-right.pull-right{ style: "margin: 0;"}
          .form-group
            %input#search-filter.form-control.col-md-8{ placeholder: "Search", type: "text" }
      - else
        %button.navbar-toggle{"data-target" => ".navbar-inverse-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
    .navbar-collapse.collapse.navbar-inverse-collapse
      - if current_user
        %p.navbar-text
          Logged in as #{current_user.name} (#{current_user.email})
        %ul.nav.navbar-nav
          %li
            = link_to "Log out", sign_out_path
      - else
        %ul.nav.navbar-nav
          %li
            = link_to "Log in", google_sign_in_path
:css
  .navbar-form {
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
