!!!5
%html
  %head
    %title Favorites
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "default" }
    %link{ rel: "apple-touch-icon", href: "/apple-touch-icon.png" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1" }
    %meta{ name: "google-site-verification", content: "oDIhveA9gNQsk5qjWXrpKPvTopaYQhswL_ir3nCzJ1E" }

    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto:300,400,500,700"
    = stylesheet_link_tag "//fonts.googleapis.com/icon?family=Material+Icons"

  %body
    = render 'shared/navbar'
    .container
      = yield
